.logo {
    font-size: medium;
    font-variant: all-small-caps;
    padding: 5px;
}

.logo:hover {
    font-variant-caps: petite-caps
}

.info {
    font-size: large;
}

.formdiv, .boxed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    overflow: auto;
}

.boxed {
    border: 1px solid #dadce0;
    border-radius:10px ;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-left: 33vw;
    margin-right: 33vw;
    margin-top: 15vh;
}

.datefamily {
    width: 30%;
    /* change it  */
}

.datediv {
    display: inline-flex;
    justify-content: space-between;
}

.inputfiled {
    width: 100%;
}

.background {
    height: 100vh;
    width: 100vw;
}

.row.submit {
    width: 100%;
    margin-top: 5px;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 565px) {
    .boxed {
        /* based on size */
        margin-top: 5vh;
        padding-right: 20px;
        padding-left: 20px;
        border: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}