.logo {
    font-size: medium;
    font-variant: all-small-caps;
    padding: 5px;
}

.logo:hover {
    font-variant-caps: petite-caps
}

.info {
    font-size: large;
}

.formdiv, .boxed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    overflow: auto;
}

.boxed {
    border: 1px solid #dadce0;
    border-radius:10px ;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin-left: 33vw;
    margin-right: 33vw;
    margin-top: 15vh;
}

.datefamily {
    width: 30%;
}

.datediv {
    display: inline-flex;
    justify-content: space-between;
}

.inputfiled {
    width: 100%;
}

.background {
    height: 100vh;
    width: 100vw;
}

.row.submit {
    width: 100%;
    margin-top: 5px;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

#popup {
    position: absolute;
    margin-top: 25vh;
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 565px) {
    .boxed {
        margin-top: 5vh;
        padding-right: 20px;
        padding-left: 20px;
        border: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #popup {
        width: 100vw;
        margin-left: 0vw;
        margin-right: 0vw;
    }
}


@media (566px <= width <= 840px) {
    .boxed {
        margin-left: 25vw;
        margin-right: 25vw;
    }
    #popup {
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('Thankyou.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}
